.soundcloud-active .separator + .media-menu-item {
	display: none;
}
.clear {
	clear: both;
}

.default-state {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.default-state .media-toolbar {
	background: #fff;
	top: 20px;
}

.query-results, .default-state-single {
	position: absolute;
	top: 80px;
	left: 20px;
	right: 20px;
	bottom: 0;
	overflow: auto;
	display: block;
}

.wp-core-ui .default-state-single .spinner {
	display: block;
	float: left;
	margin: 5px 10px;
}

.wp-core-ui .default-state-single a.sc-add-to-library {
	float: left;
	margin-right: 10px;
}

.soundcloud-wrapper {
	top: 40px;
	margin-bottom: 10px;
}

.sc-track {
	width: 95%;
	cursor: pointer;
	overflow: hidden;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #eee;
	display: block;
}

.sc-track:hover {
	background: #fefefe;
}

.sc-track .sc-artwork {
	background: #eee;
	width: 100px;
	height: 100px;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

.sc-track .sound {
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
}
.sc-track .sound:hover {
	text-decoration: underline;
}

.sc-track .meta, .sc-track .user {
	display: block;
	float: left;
}

.sc-track .meta {
	width: 300px;
	margin: 0 10px 0 0;
}

.sc-track .user {
	width: 250px;
	margin-top: 35px;
}

.sc-track .user a {
	line-height: 40px;
	text-decoration: none;
}

.sc-track .meta span {
	display: block;
}

.sc-avatar {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	float: left;
}

.soundcloud-credentials div {
	display: block;
	position: relative;
	padding: 8px 20px;
	margin: 0;
	line-height: 18px;
	font-size: 12px;
	color: #0074a2;
}

.soundcloud-credentials span {
	color: #444;
	word-wrap: break-word;
	font-size: 12px;
}

.recent-searches {
	display: inline;
	padding-right: 10px;
}

.wp-core-ui .soundcloud-api-submit {
	display: block;
	margin: 20px 0;
}

.wp-core-ui .soundcloud-api-submit .button {
	display: block;
	margin-top: 10px;
}